body,
html {
    height: 100%;
    overflow: hidden;
    background-image: url('../images/water.jpg');
    background-position: center;
    background-size: cover;
    font-size: 1.5vw;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.clock {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    width: 50vmin;
    height: 50vmin;
    border: 2vmin solid white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.hand {
    position: absolute;
    top: 50vmin;
    background-color: black;
    transform-origin: right;
}

.hours,
.minutes {
    background-color: black;
}


.hours {
    height: 2vmin;
    width: 20vmin;
    margin-left: 9vmin;
    margin-top: -0.25vmin;
    transform: rotate(20deg);
    transform-origin: calc(100% - 4vmin);
}

.minutes {
    height: 1.5vmin;
    width: 26vmin;
    margin-left: 3vmin;
        transform-origin: calc(100% - 4vmin);

}

.seconds {
    height: 0.5vmin;
    background-color: #e00;
    margin-top: .5vmin;
    width: 27vmin;
    margin-left: 5vmin;
    transition: all 0.25s;
    transform-origin: calc(100% - 7vmin);
}

.seconds::after {
    content: '';
    height: 3vmin;
    width: 3vmin;
    border-radius: 50%;
    background-color: #e00;
    float: left;
    margin-top: -1.25vmin;
}